rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }

    match /groupCodes/{code} {
      allow create: if request.auth != null
                    && request.resource.data.bankId == request.auth.uid
                    && request.resource.data.groupId is string
                    && getAfter(/databases/$(database)/documents/groups/$(request.resource.data.groupId)).data.bankId == request.auth.uid;

      allow get: if request.auth != null;
      allow list: if false;
      allow update, delete: if false;
    }

    match /groups/{groupId} {
      allow create: if request.auth != null
                    && request.resource.data.bankId == request.auth.uid;

      allow read: if request.auth != null
                  && (
                    resource.data.bankId == request.auth.uid
                    || exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid))
                  );

      allow update, delete: if request.auth != null
                            && resource.data.bankId == request.auth.uid;

      match /members/{userId} {
        allow read: if request.auth != null
                    && (
                      get(/databases/$(database)/documents/groups/$(groupId)).data.bankId == request.auth.uid
                      || exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid))
                    );

        allow create: if request.auth != null
                      && request.auth.uid == userId
                      && request.resource.data.userId == request.auth.uid
                      && request.resource.data.role == "member"
                      && request.resource.data.groupCode is string
                      && request.resource.data.groupCode ==
                         get(/databases/$(database)/documents/groups/$(groupId)).data.groupCode;

        allow update, delete: if request.auth != null
                              && get(/databases/$(database)/documents/groups/$(groupId)).data.bankId == request.auth.uid;
      }

      match /{document=**} {
        allow read: if request.auth != null
                    && (
                      get(/databases/$(database)/documents/groups/$(groupId)).data.bankId == request.auth.uid
                      || exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid))
                    );

        allow write: if request.auth != null
                     && get(/databases/$(database)/documents/groups/$(groupId)).data.bankId == request.auth.uid;
      }
    }

  }
}
